{{ with .Site.Data.aboutSection }}
{{ if .enable }}
<section class="section about" id="ecarnet">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="about_header mb-5">
                    {{ .title | markdownify}}
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-outline-primary mr-3 btn-zoom"
                href="{{ .button1Target | absURL }}">{{ .button1Name }}</a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about_content">
                    <!--div class="about_content-thumb">
                        <div class="about-svg">
                            <img src="images/hero/figure-svg.svg" alt="figure-svg">
                        </div>
                        <div class="about_content-thumb-image">
                            <img src="{{ .image | absURL }}" alt="about-img"
                                style='border-radius: 23px;'>
                        </div>
                    </div-->
                   
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}