<section class="footer" id="contact">
	<div class="footer__background_shape">
		<svg viewBox="0 0 1920 79">
			<path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
		</svg>
	</div>
	<div class="container">
		
		<div class="row footer__widget">
			<!--div class="col-lg-4">
				<div class="footer__widget_logo mb-5">
					<img src="{{ .Site.Params.footerLogo | absURL }}" alt="widget-logo">
				</div>
			</div-->
			<div class="col-lg-6">
				<div class="text-light footer__widget_address mb-5">
					<h4 class="base-font">Infos rapide</h4>
					<ul class="fa-ul small">
						<li class="mb-2">
							<a class="text-light" href="{{ .Site.Params.facebookPage}}">
								<span class="title">Page facebook</span>
							</a>
						</li>
						<li class="mb-2">
							<a class="text-light" href="/contact#contact-niort">
								<span class="title">Clinique de Niort</span>,
								<span class="address">19 chemin de Pierre 79000 Niort</span.address>
							</a>
						</li>
						<li class="mb-2">
							<a class="text-light" href="/contact#contact-benet">
								<span class="title">Cabinet de Benet</span>, 
								<span class="address">Moulin du joug 85490 Benet</span>
								
							</a>
						</li>
						<li class="mb-2">
							<a class="text-light" href="tel:0549734861">
								<span class="title">Urgences 24h/24, 7j/7</span>
								
							</a>
						</li>
						<li class="mb-2">
							<a class="text-light with-icon" href="/#infos-pratiques">
								<span class="material-symbols-outlined">
									chevron_right
									</span>
								<span class="title">Infos pratiques</span>
								
							</a>
							<a class="text-light with-icon" href="/ecarnet-presentation/">
								<span class="material-symbols-outlined">
									chevron_right
									</span>
								<span class="title">e-carnet</span>
								
							</a>
							<a class="text-light with-icon" href="/boutique-en-ligne/">
								<span class="material-symbols-outlined">
									chevron_right
									</span>
								<span class="title">Boutique en ligne</span>
								
							</a>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text-light footer__widget_sitemap mb-5">
					<h4 class="base-font">Plan du site</h4>
					<ul class="unstyle-list small">
						{{ $sitemap := .Site.Menus.sitemap }}
						{{ range $sitemap }}
						<li class="mb-2"><a class="text-light" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
			
		</div>
		<div class="row footer__footer">
			<div class="col-lg-6">
				<div class="footer__footer_copy text-light">
					<p>{{ .Site.Params.copyright }}</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer__footer_social">
					<ul class="unstyle-list">
						{{ $social := .Site.Params.social }}
						{{ range $social }}
						<li class="d-inline-block mx-2"><a class="text-light" target="_blank" href="{{ .url }}"><i
									class="fa {{ .icon }}"></i></a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | absURL }}"></script>
<script src="{{ "plugins/magnafic-popup/jquery.magnific-popup.min.js" | absURL }}"></script>
<script src="{{ "plugins/tweenmax/TweenMax.min.js" | absURL }}" ></script>
<script src="{{ "plugins/imagesloaded/imagesloaded.min.js" | absURL }}"></script>
<script src="{{ "plugins/masonry/masonry.min.js" | absURL }}"></script>
{{ $formhandler := resources.Get "js/form-handler.js" | minify }}
{{ $formhandler := resources.Get "js/app.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>


<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.10.0/dist/js/lightgallery-all.min.js"> 	</script>