{{- $description   := .Site.Params.description -}}
{{- $image   := .Params.ogImage -}}
<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{if gt (len .Description) 1}}
  <meta name="description" content="{{- .Description -}}">
  <meta property="og:description" content="{{- .Description -}}" />
  {{else}}
  <meta name="description" content="{{- $description -}}">
  <meta property="og:description" content="{{- $description -}}" />
  {{end}}
  
  {{if isset .Params "image"}}
  <meta property="og:image" content="{{- .Params.image | absURL -}}" />
  {{end}}
  {{ if isset .Params "title"}}
  <meta property="og:title" content="{{- .Params.title -}}" />
  {{end}}

  <meta property="og:site_name" content="AtlanticVet" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/lightgallery@1.10.0/dist/css/lightgallery.min.css" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/ s?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}
</head>