{{ define "main" }}

<header class="breadCrumb">
  <div class="svg-img">
    <img src="{{ "images/hero/figure-svg.svg" | absURL }}" alt="bg">
  </div>
  <div class="animate-shape">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
      <defs>
        <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f1f6f9" />
          <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
        </linearGradient>
      </defs>
      <g data-name="blob-shape (3)">
        <path class="blob" fill="url(#d)"
          d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
      </g>
    </svg>
  </div>
  <div class="animate-pattern">
    <img src="{{ "images/service/background-pattern.svg" | absURL }}" alt="background-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
       
      </div>
    </div>
  </div>
</header>


<div class="contact-sites">
  <div class="contact-site" id="contact-niort">
    <div class="card" style="width: 25rem;min-height:47rem;">
      <img class="card-img-top" src="{{ "images/site-navigation/niort_1.jpg" | absURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Clinique de Niort</h5>
        <p class="card-text">
          <ul>
            <li>
              <strong>Adresse </strong> : 19 rue de Pierre<br/>
              79000 Niort
            </li>
            <li>
              <strong>Horaires </strong>
              <ul>
                <li>Lundi à Vendredi : 8h30 à 12h et 14h à 19h</li>
                <li>Samedi : 8h30 à 12h</li>
              </ul>
            </li>
            <li>
              <a href="https://goo.gl/maps/coEawyUaH632"><strong>Consulter le plan </strong> </a>
            </li>
          </ul>
        </p>
        <a class="btn btn-primary phone-btn" href="tel:0549734861">05.49.73.48.61</a>
      </div>
    </div>
  </div>

  <div class="contact-site" id="contact-benet">
    <div class="card" style="width: 25rem;min-height:47rem;">
      <img class="card-img-top" src="{{ "images/contact/benet2.jpeg" | absURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cabinet de Benet</h5>
        <p class="card-text">
          <ul>
            <li>
              <strong>Adresse </strong> : 12 rue de la borderie <br/>ZA du Moulin du joug <br/>85490 Benet
            </li>
            <li>
              <strong>Sur rendez-vous</strong>
            </li>
            <li>
            

              <strong>Horaires </strong>
              <ul>
                <li>Lundi : 14h - 19h</li>
                <li>Mardi : 9h - 12h / 14h - 19h</li>
                <li>Mercredi : 9h - 12h </li>
                <li>Jeudi : 14h - 19h</li>
                <li>Vendredi : 9h - 12h / 14h - 19h</li>
              </ul>
            </li>
            <li>
              <a href="https://goo.gl/maps/z96MMKa4waU2"><strong>Consulter le plan </strong> </a>
            </li>
          </ul>
        </p>
        <a class="btn btn-primary phone-btn" href="tel:0251873135">02.51.87.31.35</a>
      </div>
    </div>
  </div>
</div>

{{ end }}