<div class="sc-store">
  <div class="chronovet">
    <img src="/images/icons/chronovet.png" alt="chronovet" />
  </div>
  <div class="items">
    <div class="item">
      <img src="/images/icons/conseil.png" alt="croquettes" />
      <p class="">
        <strong>Votre vétérinaire vous conseille</strong>
      </p>
    </div>
    <div class="item">
      <p class="">
        <strong>Large choix d'alimentation</strong> sec et humide, physiologique
        et thérapeutique pour vos animaux
      </p>
      <img src="/images/icons/croquettes.png" alt="conseils" />
    </div>
    <div class="item">
      <img src="/images/icons/commande.png" alt="commande" />
      <p class="">
        <strong>Commandez facilement</strong>
        24h24, 7j/7 depuis votre ordinateur / téléphone
      </p>
    </div>
    <div class="item">
      <p class="">
        <strong>Livraison rapide et gratuite</strong>
        dans votre clinique vétéritaire en 24h/72h à Niort ou à Benet
      </p>
      <img src="/images/icons/livraison.png" alt="livraison" />
    </div>

    <div class="item">
      <img src="/images/icons/prix-web.png" alt="prix web" />
      <p class="">
        <strong>Prix web</strong>
        des prix avantageux pour combler vos animaux
      </p>
    </div>
    <div class="item">
      <p class="">
        <strong>Paiement sécurisé</strong>
        par carte bancaire et virement bancaire, sans saisie IBAN !
      </p>
      <img src="/images/icons/cb.png" alt="carte bancaire" />
    </div>
    <div class="item">
      <img src="/images/icons/confiance.png" alt="confiance" />
      <p class="">
        <strong>Eco-responsable</strong>
        livraison groupée avec celle de la clinique
      </p>
    </div>
    <div class="item">
      <p class="">
        <strong>Retour gratuit</strong>
        Pendant 28j
      </p>
      <img src="/images/icons/retour.png" alt="confiance" />
    </div>
    <div class="item">
        <img src="/images/icons/abo.png" alt="abonnement" />
        <p class="">
          <strong>Abonnement</strong>
          Simple, gratuit et sans engagement. <br/>
          L'alimentation de votre animal est automatiquement à la clinique, à la fréquence de votre choix.
          <br/>Vous n'avez plus qu'à la récupérer !
        </p>
        
      </div>
  </div>
</div>
