.navbar-brand img {
  width: 141px !important;
}

.resume__background {
  background: #383838;
}

.menu-icon {
  width: 24px;
}

.emergency a {
  color: #7fb842;
}

.btn-outline-primary {
  color: #87c544;
  border-color: #87c544;
}

.footer__cta {
  background: #680d3f;
}
.navbar .navbar-toggler-icon {
  background-color: #6e1646;
}

.hero_figure-popup .popup-button svg path {
  fill: #87c544;
}

.tarifs-infos {
  margin-top: 40px;
  text-align: left;

  h4 {
    font-size: 1.4rem;
  }
  ul,
  p {
    font-size: 0.9rem;
  }
}
.tarifs-infos + .tarifs-infos {
  margin-top: 20px;
}

.tarifs-title {
  margin-top: 40px;
}

.totop {
  border: 0;
  line-height: 20px;
  font-size: 4rem;
  color: #000000d4;
  background: transparent;
  position: fixed;
  bottom: 50px;
  right: 70px;
  z-index: 9;
  padding: 0;
  margin: 0;
}

.gallery {
  .thumb {
    width: 10rem;
  }
}
.app-iframe-container,
.app-iframe {
  height: calc(100vh - 100px);
  width: 100vw;
}
.app-iframe {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
}

.contact-sites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .contact-site {
    margin: 0px 40px;
  }
}

.contact-site {
  .phone-btn {
    display: block;
  }
}

.gallery .thumb {
  padding: 10px;
}


a.big-link {
  font-size: 1.7rem;
  text-align: center;
  display: block;
  text-transform: uppercase;

  border: 2px solid #6e1646;
  border-radius: 7px;
}
a.big-link+a.big-link{
  margin-top:10px;
}



.footer__widget_logo img {
  max-width: 150px;
}

figure.myfigure {
  &.myfigure {
    margin-top: 10px;
  }
  img {
    max-width: 280px;
  }
  max-width: 300px;
  text-align: center;
  margin: auto;
  border: 2px solid #80808052;
  padding: 5px 0px;
  border-radius: 5px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  p {
    font-size: 0.7rem;
    margin: 4px;
  }
}

.default-content {
  text-align: left;
}

@media (max-width: 768px) {
  .footer {
    a + a {
      margin-top: 10px;
    }
  }
}

@media (min-width: 990px) {
  .footer {
    a + a {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 990px) {
  .app-iframe {
    top: 100px;
  }
  .contact-sites {
    flex-direction: column;

    .contact-site + .contact-site {
      margin-top: 20px;
    }
  }
}

.sc-icon-heading {
  img {
    width: 48px;
  }
}

.sc-animals {
  h5 {
    text-align: center;
  }
  .animaux {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 70px;
      margin-left: 30px;
    }
  }
}

.specialites {
  text-align: center;
  .row > * {
    max-height: 300px;
  }
  img {
    max-height: 150px;
    width: auto;
  }
}

.navbar{
  & > .container{
      gap:15px;
  }
}

.navbar-brand {
  img {
    max-width: 60px;
  }
}

.mobile {
  flex:1;
  .extra-navbar-area {
    width: 100%;
  }
  display: none;
  @include desktop {
    display: block;
  }
}
.extra-navbar-area {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;

  & > * {
    flex: 1;
  }
  &.desktop {
    @include desktop {
      display: none;
    }
  }

  .nav-icon {
    display: flex;
    align-items: end;
    justify-content: center;
    img{
      max-width: 60px;
    }
    .material-symbols-outlined {
      font-size: 2rem;
    }
  }

  .nav-default,
  .nav-primary,
  .nav-secondary {
    border-radius: 4px;
    border:2px solid grey;
  }

  .nav-secondary {
    /*background-color: #7e7e8a;*/
    &,
    a {
      color: white;
    }
  }

  .nav-default {
   /* background-color: #7fb843;*/
    &,
    a {
      color: white;
    }
  }

  .nav-primary {
    /*background-color: #6e1646;*/
    &,
    a {
      color: white;
    }
  }

  & > a + a {
    margin-left: 3px;
  }

  & > * {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}

.section {
  &.service {
    .actions {
      padding: 0px 10px;
      gap: 3px;
      display: flex;
      @include desktop {
        flex-direction: column;
      }
    }
  }

  &.portfolio{
    background-color: #7e7e8a;
    &,
    h2,
    a,
    p,
    span {
      color: white !important;
    }
  }

  &.about {
    background-color: #7e7e8a;
    &,
    h2 {
      color: white;
    }

    .about_content-inner {
      background: white;
      &,
      p,
      h3 {
        color: #7e7e8a;
      }
    }
  }
}

.footer__widget_address{
  span.title{
    font-weight: bold;
  }
}

h1,h2{
  font-size: 3rem;
}

#not-found{
  padding-top:130px;
  text-align: center;
}

.navbar-brand{
  @include mobile-s {
    display: none;
  }
}

button, [type=button], [type=reset], [type=submit]{
  -webkit-appearance: none !important;
}