.navbar-brand img{
    width: 141px !important;
}

.resume__background {
    background: #383838;
}

.menu-icon{
    width:24px;
}

.btn-primary {
    color: #fff;
    background-color: #6e1646;
    border-color: #772452;
}
.btn-outline-primary {
    color: #87c544;
    border-color: #87c544;
}

.footer__cta {
    background: #680d3f;
}
.navbar .navbar-toggler-icon{
    background-color: #6e1646;
}

.hero_figure-popup .popup-button svg path {
    fill: #87c544;
}